<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/moment.js"></script>
    <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="/">今日头条</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item mr-5px">
                    <a class="nav-link" href="/topics">话题</a>
                </li>
                <% if (req.session.isAuthenticated === "true") { %>
                    <li class="nav-item flex ai-center mr-5px">
                        <a class="nav-link" href="/users/<%= req.session.id %>"><img class="mr-neg5 profileList" src="<%= req.session.src %>" class="card-img-top topicList" alt="..."></a>
                        <a class="nav-link" id="currentUser" data-currentUser="<%= req.session.id %>" href="/users/<%= req.session.id %>"><%= req.session.username %></a>
                    </li>
                    <li class="nav-item mr-5px">
                        <a class="nav-link" href="/logout" id="linkLogout">退出</a>
                    </li>
                <% } else { %>
                    <li class="nav-item mr-5px">
                        <a class="nav-link" href="/register">注册</a>
                    </li>
                    <li class="nav-item mr-5px">
                        <a class="nav-link" href="/login">登陆</a>
                    </li>
                <% } %>

                <!--      <li class="nav-item">-->
                <!--        <a class="nav-link" href="#">Link</a>-->
                <!--      </li>-->
                <!--      <li class="nav-item dropdown">-->
                <!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--          Dropdown-->
                <!--        </a>-->
                <!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--          <a class="dropdown-item" href="#">Action</a>-->
                <!--          <a class="dropdown-item" href="#">Another action</a>-->
                <!--          <div class="dropdown-divider"></div>-->
                <!--          <a class="dropdown-item" href="#">Something else here</a>-->
                <!--        </div>-->
                <!--      </li>-->
                <!--      <li class="nav-item">-->
                <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
                <!--      </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="请输入要搜索的内容" aria-label="搜索">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
    </div>
</nav>