<% include ../partials/header %>

<div class="container">
    <div class="mt-10">
        <div class="card">

            <div class="card-body">
<!--                <div class="mr-15">-->
                    <video controls="controls" class="videoDetail" poster="/images/poster.png">

                        <source src="<%= results[0][0].videosrc %>"
                                type="video/mp4">
                    </video>
<!--                </div>-->
                <div class="pt-20">
                    <a class="black" href="/videos/<%= results[0][0].videoid %>"><h5 class="card-title"><%= results[0][0].videotitle %></h5></a>
                    <p><%= results[0][0].videodescription %></p>

                    <div class="mb-10">
                        <a class="gray mr-5px" href="/users/<%= results[0][0].userid %>"><img class="profileList" src="<%= results[0][0].usersrc %>"></a>
                        <a class="gray mr-5px" href="/users/<%= results[0][0].userid %>"><%= results[0][0].username %></a>
                        <a class="gray mr-5px" href="/topics/<%= results[0][0].topicid %>"><%= results[0][0].title %></a>

<!--                        <span class="gray mr-5px"><%= results[2][0].commentsCount %>评论</span>-->
                        <span class="gray mr-5px"><span id="likescount"><%= results[3][0].likesCount %></span>点赞</span>

                        <span class="gray"><%= moment(results[0][0].created ).startOf('hour').fromNow() %></span>
                        <% if (req.session.isAuthenticated === "true") { %>
                            <% if (results[4].length === 0) { %>
                                <button type="button" id="buttonLike" class="btn btn-outline-primary btn-sm" data-userid="<%= req.session.id %>">赞</button>
                            <% } else { %>
                                    <button type="button" id="buttonLike" class="btn btn-outline-primary btn-sm liked" data-userid="<%= req.session.id %>">赞</button>
                            <% } %>

                        <% } %>
                    </div>
                    <div class="mb-10">

                        <% if (req.session.isAuthenticated === "true" && (req.session.id === String(results[0][0].userid))) { %>
                            <span id="special2" class="hidden"></span>

                            <a href="/videos/<%= results[0][0].videoid %>/edit" class="btn btn-outline-primary btn-sm" data-userid="<%= req.session.id %>" role="button">编辑</a>

                            <button type="button" id="buttonDelete" class="btn btn-outline-danger btn-sm" data-userid="<%= req.session.id %>">删除</button>

                        <% } %>

                    </div>
                </div>

            </div>
        </div>

                        <div class="mt-30" id="wrapperCard">
                            <h5 class="pl-20"><span id="commentsCount"><%= results[2][0].commentsCount %></span>评论</h5>
                            <% if (req.session.isAuthenticated === "true") { %>
                                <div class="mt-20 pl-20" id="formComment">
                                    <img class="profileList mr-5px" src="/images/profile.png">
                                    <input id="inputComment" class="mr-5px pd-10 w-400px" type="text" placeholder="请评论">
                                    <button id="buttonComment" type="button" class="btn btn-outline-primary btn-sm pd-10" data-userid="<%= req.session.id %>">评论</button>

                                </div>
                            <% } %>
                            <div id="wrapperCards">
                            <% for(var i=0; i<results[1].length; i++) {%>
                                <div class="card">

                                    <div class="card-body flex ai-center">

                                        <div class="mt-10">
                                            <div class="mb-5px">
                                                <a class="gray mr-5px" href="/users/<%= results[1][i].id %>"><img class="profileList" src="<%= results[1][i].src %>"></a>
                                                <a class="gray mr-5px" href="/users/<%= results[1][i].id %>"><%= results[1][i].username %></a>
                                                <span class="gray"><%= moment(results[1][i].created ).startOf('hour').fromNow() %></span>

                                            </div>
                                            <h5 class="card-title mb-0"><%= results[1][i].body %></h5>



                                        </div>

                                    </div>
                                </div>
                            <% } %>
                            </div>
                        </div>

                </div>
            </div>

<div id="space">

</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/layui-v2.5.4/layui/layui.js" charset="utf-8"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/videos/site.js"></script>
<% if (videoUpdated === "true") { %>
    <script src="/javascripts/videos/videoUpdated.js"></script>
<% } %>
</body>
</html>
