<% include ../partials/header %>

<div class="container">
    <div class="mt-10">
        <div class="card">

            <div class="card-body flex jc-center ai-center">
                <div class="mr-15">
                    <img src="<%= results[0][0].src %>" class="card-img-top topicList" alt="...">

                </div>
                <div class="mt-10">
                    <h5 class="card-title mb-0"><%= results[0][0].title %></h5>


                    <div>
                        <span class="gray"><%= results[0][0].description %></span>

                    </div>
                </div>

            </div>
            <div class="text-center mb-10">
                <a class="hoverNoEffect" href="/topics/<%= results[0][0].id %>"><span class="gray"><%= results[2][0].videosCount %>视频</span></a>
                <a class="hoverNoEffect" href="/topics/<%= results[0][0].id %>/followers"><span class="gray active"><%= results[3][0].followersCount %>粉丝</span></a>
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <div class="mt-10" id="wrapperCard">
                <% for(var i=0; i<results[1].length; i++) {%>
                    <div class="card">
                        <div class="card-body flex">
                            <div class="pt-20">
                                <div>
                                    <a class="gray mr-5px" href="/users/<%= results[1][i].id %>"><img class="profileList" src="<%= results[1][i].src %>"></a>
                                    <a class="gray" href="/users/<%= results[1][i].id %>"><%= results[1][i].username %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>

        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/layui-v2.5.4/layui/layui.js" charset="utf-8"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/topics/site2.js"></script>

</body>
</html>
