<% include ../partials/header %>

<div class="container">
    <div class="mt-10">
        <div class="col-md-8 offset-md-2">
            <div class="mt-10" id="wrapperCard">
                <% for(var i=0; i<results[1].length; i++) {%>
                    <div class="card">

                        <div class="card-body flex">
                            <div class="mr-15">
                                <video controls class="videoList" poster="/images/poster.png">

                                    <source src="<%= results[1][i].videosrc %>"
                                            type="video/mp4">
                                </video>
                            </div>
                            <div class="pt-20">
                                <a class="black" href="/videos/<%= results[1][i].videoid %>"><h5 class="card-title"><%= results[1][i].title %></h5></a>


                                <div>
                                    <a class="gray mr-5px" href="/users/<%= results[1][i].id %>"><img class="profileList" src="<%= results[1][i].src %>"></a>
                                    <a class="gray mr-5px" href="/users/<%= results[1][i].id %>"><%= results[1][i].username %></a>
                                    <span class="gray"><%= results[1][i].count %>评论</span>
                                    <span class="gray"><%= moment(results[1][i].created ).startOf('hour').fromNow() %></span>

                                </div>
                            </div>

                        </div>
                    </div>
                <% } %>
            </div>

        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/layui-v2.5.4/layui/layui.js" charset="utf-8"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/topics/site.js"></script>

</body>
</html>
